.Admin {
  background: var(--bg-color);
  min-height: 90vh;
  width: 100%;
  padding: 4rem 8rem;
  font-family: var(--font-montserrat);

  & > h1 {
    margin-bottom: 2rem;
  }
}

.createProductWrapper {
  width: max-content;
  
  &:hover {
    cursor: pointer;
  }

  .createProductBtn {
    padding: 1rem;
    background-color: rgb(26, 97, 204);
    border-radius: 3px;
    display: flex;
    align-items: center;

    .btnText {
      text-transform: uppercase;
      font-size: 1.8rem;
      color: #fff;
      margin-right: 1rem;
    }

    .btnPlusSymbol {
      color: #fff;
    }
  }
}

.productTable {
  //   background-color: bisque;
  width: 80%;
  height: 100%;

  display: inline-grid;
  row-gap: 1.5rem;
  grid-template-columns: [name] 1fr [type] 1fr [color] 1fr [price] 1fr [actions] 1fr;
  grid-template-rows: [header] 8rem;
  grid-auto-rows: 10rem;

  .header {
    // background-color: rgb(202, 202, 202);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
    align-self: center;
    justify-self: center;
  }
}
