// cornsilk #ccd5ae
// light golden rod yellow #e9edc9
// fawn #d4a373
// papaya whip #faedcd

.Home {
  background-color: #e9edc9;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.Navigation {
  background-color: #e9edc9;
  width: 100%;
  height: 10vh;
//   border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  .logo {
    font-size: 5rem;
    font-family: var(--font-montserrat);
  }

  .sideLinks {
    font-size: 3rem;
    font-family: var(--font-montserrat);
    background-color: red;
    display: flex;
  }
}

.title {
  // background-color: yellow;
  width: max-content;
  font-family: var(--font-montserrat);
  font-size: 14rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
    // background: lightpink;
  //   opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90vh;

  .imageContainer {
    // background-color: red;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60rem;

    .image {
      height: 80rem;
    }

    .addToCart {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      background-color: #d4a373;
      position: absolute;
      top: 30%;
      right: 8%;
      z-index: 100;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      p {
        color: #faedcd;
        cursor: pointer;
      }
    }
  }
  .nameContainer {
    // background-color: white;
    padding: 1rem;
    font-family: var(--font-montserrat);
    font-size: 3rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 25%;
    right: 15%;

    .backdrop {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: white;
      opacity: 0.8;
    }

    h1 {
      line-height: 150%;
      opacity: 1;
      position: relative;
      z-index: 100;
    }
  }
}

.gradient {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right,#D3CCE3 0%, transparent 80%);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .2;
}
