.NewProduct {
  font-family: var(--font-montserrat);
  background-color: white;
  min-width: 70%;
  max-width: 0%;
  height: 80%;
  max-height: 80%;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  display: grid;
  grid-template-columns: [gutter-left] 8rem [content-start] repeat(10, 1fr) [content-end] 8rem [gutter-right];
  grid-template-rows: [gutter-top] 4rem [content-start] repeat(12, 1fr) [content-end] 4rem [gutter-bottom];

  .btn {
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
    padding: 2rem 4rem;
    position: absolute;
    bottom: 2rem;
    outline: none;
  }

  .back {
    background-color: rgb(223, 223, 223);
    color: #7E96FD;
    left: 2rem;
  }

  .continue {
    background-color: #7E96FD;
    color: white;
    right: 2rem;
  }

  .header {
    grid-column: content-start / content-end;
    grid-row: content-start / 4;
    // background-color: rgb(57, 107, 59);
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 3.5rem;
      font-weight: 400;
    }
  }

  form {
    grid-column: content-start / content-end;
    grid-row: 4 / content-end;
    overflow: hidden;
    // background-color: yellow;
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: repeat(12, 1fr) auto;
    align-items: start;
    padding-top: 1rem;
  }
}

.StepOne {
  width: 100%;
  height: 100%;
  // grid-column: 1 / -1;
  // grid-row: 1 / -1;
  // background-color: green;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, max-content);
  row-gap: 1.4rem;

  .name,
  .type,
  .details {
    grid-column: 1 / -1;
  }
}

.StepTwo {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  // background-color: green;

  // overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, max-content);
  row-gap: 1.4rem;

  .type,
  .price,
  .color,
  .size {
    grid-column: 1 / -1;
  }
}
