.NewProduct {
  font-family: var(--font-montserrat);
  background-color: white;
  width: 70rem;
  height: max-content;
  padding: 4rem 8rem;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header {
    width: 100%;
    // background-color: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerTitle {
      margin-bottom: 2rem;
    }
  }

  .formDescription {
    margin-bottom: 2rem;
  }

  form {
    width: 100%;
    height: max-content;
    display: grid;
    column-gap: 4rem;
    row-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);

    .name {
      grid-column: 2 / 7;
    }

    .type {
      grid-column: 7 / 12;
    }

    .price {
      grid-column: 2 / 7;
    }
    .details {
      grid-column: 7 / 12;
    }
    .color {
      grid-column: 2 / 7;
    }
    .size {
      grid-column: 7 / 12;
    }

    .button {
      grid-column: 5 / 9;
      border-radius: 4rem;
      border: none;
      padding: 2rem;
      color: white;
      transition: all 0.2s;

      &:disabled {
        background-color: #ea4866;
        opacity: 0.8;
      }

      &:enabled {
        background-color: black;
      }
    }
  }
}
